templates:
- "<%= node["alertmanager"]["templates"]["dir"] %>/*.tmpl"
  
route:

  repeat_interval: 8h

  # If an alert isn't caught by a route, send it slack route (default).
  receiver: slack_alerts_fallback
  routes:

  # Filter out these environments, don't send them anywhere else to
  # avoid confusion from alerts from non-production environments.
  #

  # Filter out Staging environment
  - match:
      environment: stg
    receiver: slack_alerts_stg
    group_by: ['environment', 'alertname']
    continue: false

  # Filter out Preprod environment
  - match:
      environment: pre
    receiver: slack_alerts_pre
    group_by: ['environment', 'alertname']
    continue: false

  # Filter out Geo environments
  - match_re:
      environment: geo|geo1|geo2
    receiver: slack_alerts_geo
    group_by: ['environment', 'alertname']
    continue: false

  # Anything else (e.g. cny, dev, and of course prd and '') is
  # considered production and eligible for paging

  - match:
      channel: gitaly
    group_by: ['environment', 'alertname','instance','job']
    routes:
      - match:
          severity: warn
        receiver: slack_gitaly_warn
        continue: false
      - receiver: slack_gitaly
        continue: true


  - match_re:
      tier: "db"
      type: pgbouncer|postgres
    receiver: slack_alerts_postgres
    group_by: ['environment', 'alertname']
    continue: true

  # Baed on severity and pager attributes direct messages where they
  # need to go. This should be simplified in the future to make it
  # more predictable

  - match:
    receiver: slack_alerts
    group_by: ['environment', 'alertname']
    continue: true

  - match:
      pager: pagerduty
    receiver: pagerduty
    group_by: ['environment', 'alertname']
    continue: false


receivers:

- name: pagerduty
  pagerduty_configs:
  - service_key: "<%= @conf['pagerduty']['service_key'] %>"
    description: '{{ template "slack.title" . }}'
    client: 'GitLab Alertmanager'
    client_url: '{{ template "slack.link" . }}'
    details: { note : '{{ template "slack.text" . }}'}
    send_resolved: true

- name: slack_alerts
  slack_configs:
  - api_url: "<%= @conf['slack']['api_url'] %>"
    send_resolved: true
    channel: '{{ template "slack.channel" . }}'
    icon_emoji: '{{ template "slack.icon" . }}'
    color: '{{ template "slack.color" . }}'
    title: '{{ template "slack.title" . }}'
    title_link: '{{ template "slack.link" . }}'
    text: '{{ template "slack.text" . }}'

# These are like this because we are not labeling the alerts with the rigth channel.
- name: slack_alerts_stg
  slack_configs:
  - api_url: "<%= @conf['slack']['api_url'] %>"
    send_resolved: true
    channel: '#prometheus-alerts-stg' # Either this way, or we add routing to the template to keep a single config
    icon_emoji: '{{ template "slack.icon" . }}'
    color: '{{ template "slack.color" . }}'
    title: '{{ template "slack.title" . }}'
    title_link: '{{ template "slack.link" . }}'
    text: '{{ template "slack.text" . }}'

- name: slack_alerts_pre
  slack_configs:
  - api_url: "<%= @conf['slack']['api_url'] %>"
    send_resolved: true
    channel: '#prometheus-alerts-pre'# Either this way, or we add routing to the template to keep a single config
    icon_emoji: '{{ template "slack.icon" . }}'
    color: '{{ template "slack.color" . }}'
    title: '{{ template "slack.title" . }}'
    title_link: '{{ template "slack.link" . }}'
    text: '{{ template "slack.text" . }}'

- name: slack_alerts_geo
  slack_configs:
  - api_url: "<%= @conf['slack']['api_url'] %>"
    send_resolved: true
    channel: '#prometheus-alerts-geo' # Either this way, or we add routing to the template to keep a single config
    icon_emoji: '{{ template "slack.icon" . }}'
    color: '{{ template "slack.color" . }}'
    title: '{{ template "slack.title" . }}'
    title_link: '{{ template "slack.link" . }}'
    text: '{{ template "slack.text" . }}'

- name: slack_alerts_postgres
  slack_configs:
  - api_url: "<%= @conf['slack']['api_url'] %>"
    send_resolved: true
    channel: '#database' # Either this way, or we add routing to the template to keep a single config
    icon_emoji: '{{ template "slack.icon" . }}'
    color: '{{ template "slack.color" . }}'
    title: '{{ template "slack.title" . }}'
    title_link: '{{ template "slack.link" . }}'
    text: '{{ template "slack.text" . }}'

- name: slack_gitaly
  slack_configs:
  - api_url: "<%= @conf['slack']['api_url'] %>"
    channel: '#gitaly'
    send_resolved: true
    icon_emoji: '{{ if eq .Status "firing" }}:bangbang:{{ else }}:ok:{{ end }}'
    title: '{{ if ne .Status "firing" }}[{{ .Status | toUpper }}]{{ end }} {{ .CommonAnnotations.title }}'
    title_link: 'https://dev.gitlab.org/cookbooks/runbooks/blob/master/{{ .CommonAnnotations.runbook }}'
    text: '<https://dev.gitlab.org/cookbooks/runbooks/blob/master/{{ .CommonAnnotations.runbook }}|:information_source:><{{ (index .Alerts 0).GeneratorURL }}|:chart_with_upwards_trend:> {{ if eq .Status "firing" }}{{ .CommonAnnotations.description }}{{ end }}'
    fallback: '{{ if eq .Status "firing" }} {{ end }}[{{ .Status | toUpper }}{{ if eq .Status "firing" }}{{ if gt (.Alerts.Firing | len) 1 }}({{ .Alerts.Firing | len }} times){{ end }}{{ end }}] {{ .CommonAnnotations.title }}'

- name: slack_gitaly_warn
  slack_configs:
  - api_url: "<%= @conf['slack']['api_url'] %>"
    channel: '#gitaly-alerts'
    send_resolved: true
    icon_emoji: '{{ if eq .Status "firing" }}:bangbang:{{ else }}:ok:{{ end }}'
    title: '{{ if ne .Status "firing" }}[{{ .Status | toUpper }}]{{ end }} {{ .CommonAnnotations.title }}'
    title_link: 'https://dev.gitlab.org/cookbooks/runbooks/blob/master/{{ .CommonAnnotations.runbook }}'
    text: '<https://dev.gitlab.org/cookbooks/runbooks/blob/master/{{ .CommonAnnotations.runbook }}|:information_source:><{{ (index .Alerts 0).GeneratorURL }}|:chart_with_upwards_trend:> {{ if eq .Status "firing" }}{{ .CommonAnnotations.description }}{{ end }}'
    fallback: '{{ if eq .Status "firing" }} {{ end }}[{{ .Status | toUpper }}{{ if eq .Status "firing" }}{{ if gt (.Alerts.Firing | len) 1 }}({{ .Alerts.Firing | len }} times){{ end }}{{ end }}] {{ .CommonAnnotations.title }}'

- name: slack_alerts_fallback
  slack_configs:
  - api_url: "<%= @conf['slack']['api_url'] %>"
    send_resolved: true
    channel: "#alerts"
    pretext: |
      'This alert was not captured by any configured route, review the alert or
      the alert manager configuration'
    icon_emoji: '{{ template "slack.icon" . }}'
    color: '{{ template "slack.color" . }}'
    title: '{{ template "slack.title" . }}'
    title_link: '{{ template "slack.link" . }}'
    text: '{{ template "slack.text" . }}'
